/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10 Feb, 2014, 2:21:23 PM
    Author     : Nishith Shah
*/

.anglebar{
    position: absolute;
    width: 150px;
    /*height: 45px;*/
    background-color: lightgray;
    border-top: 150px;
}
.headbar{
    position: fixed;
    height: 50px;
    width: 100%;
    background-color: lightgray;
    zoom: 1;
    z-index: 2;
}
.sidebar{
    border-top: transparent solid 10px;
    position: absolute;
    left:0;
    top:2px;
    bottom: 0;
    margin: 0;
    width: 150px;
    background-color: lightgray;
    z-index: 3;
}

.contentpane{
    position: absolute;
    overflow: auto;
    left: 150px;
    bottom: 0;
    right: 0;
    top:0;
    margin: 10px 10px auto;
    /*    background-color: lavender;*/
    /*border-top: #000000 solid 1px;*/
    /*border-left: #000000 solid 1px;*/
    z-index: 2;
}

.contentmanager{
    position: fixed;
    /*margin: 0 auto;*/
    top: 52px;
    /*padding-left: 250px;*/
/*    left: 0;
    right: 0;
    bottom: 0;*/
    /*z-index: 1;*/
}
.logindialog{
    margin: 0 auto;
    width: 500px;
    height : 300px;
    vertical-align: central;
}

#wrapper {
    padding-left: 250px;
}

#wrapper-container {
    width: 100%;
}

#wrapper-container .container {
    margin-left: inherit;
}

#wrapper.wrapper-full {
    padding-left: 110px;
}

.toggleContentSide {
    margin-left: 50px;
}